.Container{
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;

    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer";
    gap: 10px;

}
body{
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

header{
    grid-area: header;
    background-color: #a0eec0;
    text-align: center;
    font-family: fantasy;

}

main{
    grid-area: main;
    background-color: #8ae9c194;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
}

main a{
    text-decoration: none;
    color: black;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}

main a:hover{
    background-color: rgb(185, 0, 0);
}
aside{
    grid-area: aside;
    background-color: #666b6a8f;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
aside > p{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    padding-top: 15px;
    grid-area: footer;
    background-color: #a0eec0;
    float: left;
    text-align: center;

}
footer a{
    text-decoration: none;
    padding: 40px 20px;
    font-size: 20px;
    font-family: fantasy;
    color: black;
}
img{
    width: 100%;
    height: 100%;
}